/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Cinzel:wght@600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0d0d0d;
    color:#fff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:white;
}

ul{
    list-style:none;
}

/* Navbar */

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(0,0,0,.65);
    backdrop-filter:blur(12px);
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
    border:2px solid #d4af37;
}

.logo span{
    font-family:'Cinzel',serif;
    color:#d4af37;
    font-size:24px;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:35px;
}

nav ul li a{
    transition:.3s;
    font-weight:500;
}

nav ul li a:hover{
    color:#d4af37;
}

.book-btn{
    padding:12px 26px;
    border-radius:40px;
    background:#d4af37;
    color:black;
    font-weight:600;
    transition:.3s;
}

.book-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #d4af37;
}

/* Hero */

.hero{
    height:100vh;
    background:url("images/banner.jpg") center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
}

.hero-content{
    position:relative;
    z-index:2;
    width:90%;
}

.hero h1{
    font-size:70px;
    font-family:'Cinzel',serif;
    color:#d4af37;
}

.hero p{
    margin-top:20px;
    font-size:22px;
    color:#ddd;
}

.hero-btn{
    display:inline-block;
    margin-top:35px;
    padding:15px 35px;
    background:#d4af37;
    color:black;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}

.hero-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #d4af37;
}
